# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

## PROJECT
/src/generated
/src/test

# idea
out
*.ipr
*.iws
*.iml
.idea
.vscode

# gradle
build
.gradle

# other
eclipse
run
.DS_Store

# Files from Forge MDK
forge*changelog.txt
